
@{
    ViewData["Title"] = "Indexbox";
}



<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-warning mb-3" style="max-width: 50rem;">
                    <div class="card-body">
                        <div class="card-header bg-transparent border-success">Header</div>
                        <div class="card-footer bg-transparent border-success">Footer</div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>