
@{
    ViewData["Title"] = "Report";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            Time Frame :
            <div class="btn-group">
                <button type="button" class="btn btn-outline-warning">Year</button> &nbsp
                <button type="button" class="btn btn-outline-warning">Month</button> &nbsp
                <button type="button" class="btn btn-outline-warning">Day</button> &nbsp
                <button type="button" class="btn btn-outline-warning">1H</button> &nbsp
                <button type="button" class="btn btn-outline-warning">15M</button>

                &nbsp From date : &nbsp  <input id="datepicker" width="200" />
                &nbsp  to : &nbsp  <input id="date" width="200" />

                &nbsp &nbsp

                <button type="button" class="btn btn-outline-dark">Refresh</button> &nbsp &nbsp
                <button type="button" class="btn btn-outline-dark">Export</button>
            
            </div>

            </div>
        
        </div>
        
    </div>


